body{
	margin: 0px;
}
.navbrand{
	width: 50px;
}
nav{
	width: 100%
	margin: 0px;
	padding: 5px;
	padding-left: 10px;
	box-shadow: 0px 0.5px 1px 0px grey;
}
.nav-group{
	list-style: none;
	padding:0px;
}
.nav-item:hover{
	color:grey;
}
.btn{
	background: white;
	color: #7399c6;
	border: solid 1px #7399c6;
	letter-spacing: 3px;
	font-size: 10px;
	height: 40px;
	width:150px;
	margin:20px 0px auto auto;
	padding: 5px;
}
.btn:hover{
	background: #7399c6;
	color: white;
}

.d-none{
	display: none;
}
.first-section{
	background: url("../img/hero-image.jpg");
	width:100%;
	height: 200px;
	background-size: cover;
	margin-top: 50px;
	background-repeat: no-repeat;
}
.text1{
	margin-top: 30px;
	text-align: center;
	font-size: 1.5rem;
}
.text2{
	text-align: center;
	font-size: 0.75rem;
	margin-top: 15px;
}
.first-section1{
	background:#131C40;
	height: 250px;
	display: block;
	color: white;
	text-align: center;
	padding: 30px;
	font-size: 1.5rem;
	box-sizing: border-box;
}
.first-section2{
	background:#060B1E; 
	height:250px;
	display: block;
	color: white;
	text-align: center;
	padding: 30px;
	font-size: 1.5rem;
	box-sizing: border-box;
}
.text3{
	color: white;
	font-size: 1rem;
	margin-top: 20px;
}
.btn1{
	background: transparent;
	color:#22A2FF; 
	border:solid 1px #22A2FF;
	width: 150px;
	height:40px;
	margin-top: 0px;
	letter-spacing: 2px;
	text-align: center;
}
.btn1:hover{
	color: white;
	background: #3971b9;
}
.highlights{
	color:	#151945; 
}
.high{
	font-size: 200%;
	margin-bottom: 0px;
}
.career{
	font-size: 0.7em;
	margin-top: 0px;
}
.img1{
	width:100%;
	height: 300px;
	margin-top: 30px;
}
.img2{
	width:100%;
	height: 300px;
	margin-top: 30px;

}
footer{
	background:black;
}
p{
	color:white;
	text-align:center;
}
@media(max-width: 150px){
	.btn{
	background: white;
	color: #7399c6;
	border: solid 1px #7399c6;
	letter-spacing: 3px;
	font-size: 8.5px;
	height: 30px;
	width:100px;
	margin:20px 0px auto auto;
	padding: 5px;
	}
	.btn1{
	background: transparent;
	color:#22A2FF; 
	border:solid 1px #22A2FF;
	width: 100px;
	height:30px;
	margin-top: 0px;
	letter-spacing: 1px;
	text-align: center;
	font-size:10px;
	margin-left: 0px;
	padding-left: 0px; 
	}
	.first-section1{
	background:#131C40;
	height: 250px;
	display: block;
	color: white;
	text-align: center;
	padding: 25px;
	font-size: 1.25rem;
	box-sizing: border-box;
	}
	.first-section2{
	background:#060B1E; 
	height:250px;
	display: block;
	color: white;
	text-align: center;
	padding: 25px;
	font-size: 1.25rem;
	box-sizing: border-box;
	}
	.text3{
	color: white;
	font-size: 0.85rem;
	margin-top: 15px;
	}
	.img1{
		width:100%;
		height:175px;
		margin-top: 30px;
	}
	.img2{
		width:100%;
		height:175px;
		margin-top: 30px;	
	}
	.text5{
		font-size: 0.75em;
	}

}

@media (min-width:750px){
	body{
		margin:0px;
	}
	nav{
		display: flex;
		font-size: 1.2rem;
	}
	.nav-group{
		display: flex;
		margin-left: 15px;
		margin-right: auto;
		margin: auto auto auto 15px;
		padding: 5px;
	}
	.nav-item{
		margin-right: 30px;
		margin-left: 10px;
	}
	.d-none{
		display:unset;
		margin-right: 30px;
	}
	.btn{
		margin:auto 0px auto auto;

	}
	.first-section{
	background: url("../img/hero-image.jpg");
	width:	100%;
	height: 475px;
	margin-top: 75px;
	background-size: contain;
	}
	.text1{
		margin-top: -350px;
		color:	white;
		font-size: 3.5rem;
		width: 45%;
		margin-left: auto;
		margin-right: auto;
	}
	.text2{
		font-size: 1rem;
		width:47%;
		color: white;
		margin-left: auto;
		margin-right: auto;
		margin:20px auto 45px auto;
	}
	.contain{
		margin-left: 40px
		margin-right:40px;
	}
	.first-section1{
	background:#131C40;
	height: 250px;
	display: block;
	color: white;
	text-align: center;
	padding: 30px;
	font-size: 2rem;
	box-sizing: border-box;
	width: 400px;
	padding-top: 45px;
	}
	.first-section2{
	background:#060B1E; 
	height:250px;
	display: block;
	color: white;
	text-align: center;
	padding: 30px;
	font-size: 2rem;
	box-sizing: border-box;
	width: 400px;
	padding-top: 45px;
	}
	.text3{
		margin-top: 20px;
		text-align: center;
	}
	.sect{
		display: flex;
		margin-left: 100px;
		margin-right: 100px;  
	}
	.btn1{
		margin-top: 20px;
		width: 270px;
		height: 35px;
	}
	.highlights{
		display: flex;
		margin-right: 10%;
		margin-left: 10%;
	}
	.text4{
		width: 60%;
		color: #151945;
		}
	.img1{
		width:100%;
		height:200px;
		margin-top: 75px;
		box-sizing: border-box;
		margin-left: 50px;
	}
	.high{
		font-size: 3.5rem;
		margin-top: 100px;
		margin-bottom: 0px;

	}
	.career{
		font-size: 0.7em;
		margin-top: 0px; 
	}
	.img2{
		width:100%;
		margin-top: 150px;
		height: 250px;
	}
	.text5{
		color:#151945;
		margin-left: 175px;
		margin-top: 50px;
		font-size: 0.75em;
	}
}
